name: GitHub-Profile-Summary-Cards

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate

    steps:
      - uses: actions/checkout@v6

      - name: Generate Profile Card
        uses: xeikit/github-profile-cards@develop/2026-01-08/add-feat
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          theme: light
